{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-unused-vars": "warn",
    "no-console": 1,
    "no-unexpected-multiline": "warn",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
